  /* account+password form */
  .account-setting {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .accoutSty {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        display: block;
      }

      input {
        width: 300px;
        margin: 5px 10px;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      h4 {
        display: inline-block;
        margin-right: 10px;
        color: #2f5a28;
        width: 150px;
      }

    }

  }


  input[type="text"],
  input[type="password"] {
    background-color: #f6f9f4;
    border: 2px solid #2f5a28;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #595f58;
    display: inline-block;
    height: 30px;
    margin-left: 10px;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0;
  }

  @media (max-width: 576px) {
    .account-setting {
      margin-left: 20px;
      margin-right: 20px;
    }

    .form-group h4 {
      font-size: 20px;
    }
  }

  // 會員中心
  .account-sty {
    position: relative;
    height: 300px;
  }

  .account-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 200px;
      color: #2f5a28;
      display: inline;
    }

    input {
      padding-left: 200px;
    }
  }

  .account-detail {
    display: inline-block;

    .word-row {
      display: flex;
      justify-self: flex-start;
      color: #2f5a28;
      margin-bottom: 5px;

      .phoneNum {
        width: 100px;
      }

      .mobilePhone {
        width: 150px;
      }

      span {
        display: block;
      }

      select {
        width: 80px;
        height: 35px;
        border-radius: 15px;
        margin: 0 10px;
      }

      p {
        color: rgb(231, 139, 33);
        font-weight: bold;
      }

      //生日
      .dateSty {
        display: flex;
        justify-content: flex-start;

        select {
          border: 2px solid #2f5a28;
          padding: 0;
        }

        :disabled {
          background-color: #d6d8d6;
        }
      }

      //縣市
      .twSty {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;

        select {
          width: 80px;
          border: 2px solid #2f5a28;

        }

        .areaSty {
          width: 160px;
        }
      }
    }

    // 地址
    .address-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      padding-left: 90px;

      input {
        width: 250px;
      }

      span {
        display: block;
      }
    }

    .ourself-check {
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .account-sty {
      height: 400px;

      .account-photo {
        position: relative;

        input {
          padding-left: 150px;
          margin: 15px 0;
        }

      }

      .account-detail {
        display: block;

      }
    }

    .mail-length {
      input {
        width: 300px;
      }

    }
  }