// search
.market-title {
    display: inline-block;
    background-color: #2f5a28;
    color: white;
    padding: 10px;
  }
  


  
//   小標
  .green-title {
    margin-top: 10px;
    background-color: #2f5a28;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 60px;
    align-items: center;
  }
  .items {
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 60px;
    margin-bottom: 60px;

    img{
        width: 300px;
        display: inline-block;
        background-color: white;
        border: 3px solid #2f5a28;
        border-radius: 10px;
    }
  }
  

  @media (max-width: 768px) {
    .market-title {
      margin-top: 30px;
    }
    .market-title h1 {
      font-size: 30px;
    }
  }
  
  .choice-diy {
    background-color: rgb(155, 151, 151);
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .choice-diy a {
    background-color: #2f5a28;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
  }