// search
.market-title {
  display: inline-block;
  background-color: #2f5a28;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

//basket
.basketImg {
  display: flex;
  align-items: flex-end;
}

.items {
  width: 100%;
  height: auto;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 60px;

  img {
    width: 250px;
    display: inline-block;
    background-color: white;
    border: 3px solid #2f5a28;
    border-radius: 10px;
  }
}


@media (max-width: 768px) {
  .market-title {
    margin-top: 30px;
  }

  .market-title h1 {
    font-size: 30px;
  }

  .items {
    img {
      width: 150px;
    }
  }
}