  /* ================product-content=========================== */
  .product-frame {

    border-radius: 20px;
    border: solid 3px #2f5a28;
    background-color: white;

    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  
  .product-pic h5 {
    color: white;
    background-color: #2f5a28;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    top: 5px;
    left: 5px;
  }
  
  /* ================product-left================ */
  .product-left {
    margin-top: 20px;
    margin-left: 20px;
  }
  .product-left img {
    border: solid 3px #2f5a28;
    border-radius: 10px;
    width: 400px;
  }
  
  .product-word h6 {
    border: 3px dotted #2f5a28;
    color: #2f5a28;
    padding: 5px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
  }
  
  /* ================product-right================ */
  .product-title {
    margin: 20px 10px 10px 10px;
  }
  
  .product-title-one,
  .product-title-two,
  .product-title-third {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .product-title-one h2,
  .product-title-two h2,
  .product-title-third h2 {
    display: inline-block;
    color: #2f5a28;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid #2f5a28;
    width: 50px;
    height: 50px;
    z-index: 999;
    text-align: center;
    position: absolute;
  }
  
  .product-title-one h5,
  .product-title-two h5,
  .product-title-third h5 {
    position: relative;
    display: inline-block;
    background-color: #2f5a28;
    color: white;
    border-radius: 50px;
    width: 350px;
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
  }
  
  /* ================product-right 挑菜秘訣================ */
  .product-dish {
    display: flex;
    flex-direction: row;
  }
  
  .product-d-left-title h5,
  .product-d-right-title h5 {
    color: white;
    background-color: #2f5a28;
    border-radius: 15px;
    position: absolute;
    padding: 5px;
    z-index: 999;
  }
  
  .product-d-left,
  .product-d-r-top {
    margin: 10px;
    border: solid 3px #2f5a28;
    border-radius: 10px;
    position: relative;
  }
  
  .p-left-detail,
  .p-right-detail {
    margin-top: 20px;
  }
  
  .p-left-detail i,
  .p-right-detail i {
    padding-left: 10px;
    font-size: 30px;
    color: #2f5a28;
    display: inline-block;
  }
  
  .p-left-detail h6 {
    color: #2f5a28;
    display: inline-block;
  }
  
  .p-left-detail p {
    color: #2f5a28;
    margin-bottom: 10px;
  }
  .p-right-detail p {
    color: #2f5a28;
    margin-bottom: 10px;
    display: inline;
  }
  
  .product-d-r-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #2f5a28;
  }
  
  .product-d-r-bottom h1 {
    font-size: 80px;
  }
  