.left-bucket {
    background-color: rgb(131, 129, 129);
    border-radius: 20px;
}

.items {
    width: 100%;
    height: auto;
    margin: 0px auto;
    position: relative;
    margin-top: 30px;

    img {
        width: 300px;
        display: inline-block;
        background-color: white;
        border: 3px solid #2f5a28;
        border-radius: 10px;
    }
}

// 產品購物
.shoppingItems h4 {
    display: none;
}


.imgShopping:hover {
    position: relative;

    .shoppingItems {
        position: absolute;
        top: 0;
        width: 300px;
        height: 202.39px;
        border-radius: 10px;
        margin: 0 auto;
        background-color: rgb(49, 49, 49);
        opacity: 0.7;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            display: block;
            border-radius: 10px;
            border: white 3px solid;
            padding: 5px;
        }

        :hover {
            background-color: white;
            color: rgb(49, 49, 49);
            font-weight: bold;
        }
    }
}

.diyBgc {

    background-color: rgb(104, 100, 100);
    width: 1000px;
    height: 300px;
}

//圖片加入DIY